@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --primaryColor: #fff;
    --navColor1: #21292c;
    --navColor2: #aa3e39;
    --navColor3: #aa6e39;
    --navColor4: #236267;
    --navColor5: #2c8437;
  }
  
  html {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    background: #000;
    font-family: 'Bebas Neue', cursive;
    font-size: 15px;
  }

/* --- Navigation Menu ------------------------------ */
/* overlay */
.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    transform: translateX(-100vw);
  }

  .overlay-slide-right {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
  }
  .overlay-slide-left {
    transition: all 0.8s ease-in-out 0.8s;
    transform: translateX(-100vw);
  }







































